[class^="icon-monkey-"],
[class*=" icon-monkey-"] {
  font-family: "monkey-font-icon";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-monkey-instagram-brands:before {
  content: "\e970";
  font-size: 1.5rem;
}
.icon-monkey-whatsapp-square-brands:before {
  content: "\e96f";
  font-size: 1.5rem;
}
.icon-monkey-line-brands:before {
  content: "\e96e";
  font-size: 1.5rem;
}
.icon-monkey-whatsapp:before {
  content: "\e973";
  font-size: 1.5rem;
}
.icon-monkey-link-solid:before {
  content: "\e96d";
  font-size: 1.5rem;
}
.icon-monkey-check-circle-solid:before {
  content: "\e96c";
}
.icon-monkey-credit-card-regular:before {
  content: "\e96a";
}
.icon-monkey-truck-moving-solid:before {
  content: "\e96b";
}
.icon-monkey-double-blink:before {
  content: "\e969";
}
.icon-monkey-brand-story-0:before {
  content: "\e966";
}
.icon-monkey-brand-story-2:before {
  content: "\e967";
}
.icon-monkey-brand-story-1:before {
  content: "\e965";
}
.icon-monkey-brand-story-4:before {
  content: "\e968";
}
.icon-monkey-search-plus-solid:before {
  content: "\e964";
}
.icon-monkey-next:before {
  content: "\e963";
  color: #fff;
}
.icon-monkey-adaptive-1:before {
  content: "\e960";
  color: #fff;
}
.icon-monkey-adaptive-1:before {
  content: "\e960";
}
.icon-monkey-box-content-p:before {
  content: "\e958";
}
.icon-monkey-box-content-o:before {
  content: "\e959";
}
.icon-monkey-box-content-u:before {
  content: "\e95a";
}
.icon-monkey-box-content-y:before {
  content: "\e95b";
}
.icon-monkey-box-content-t:before {
  content: "\e95c";
}
.icon-monkey-box-content-w:before {
  content: "\e95d";
}
.icon-monkey-box-content-q:before {
  content: "\e95e";
}
.icon-monkey-box-content-j:before {
  content: "\e95f";
}
.icon-monkey-loading:before {
  content: "\e957";
}
.icon-monkey-join-group-2:before {
  content: "\e956";
}
.icon-monkey-join-group-1:before {
  content: "\e961";
}
.icon-monkey-join-group-3:before {
  content: "\e962";
}
.icon-monkey-caret-right-solid:before {
  content: "\e955";
}
.icon-monkey-impressive-number-3:before {
  content: "\e954";
}
.icon-monkey-impressive-number-1:before {
  content: "\e951";
}
.icon-monkey-impressive-number-4:before {
  content: "\e952";
}
.icon-monkey-impressive-number-2:before {
  content: "\e953";
}
.icon-monkey-title:before {
  content: "\e94f";
}
.icon-monkey-extensible-markup-language:before {
  content: "\e950";
}
.icon-monkey-title-parent-review:before {
  content: "\e94e";
}
.icon-monkey-outstanding-facilities-4:before {
  content: "\e90a";
}
.icon-monkey-chat:before {
  content: "\e900";
}
.icon-monkey-go-top:before {
  content: "\e901";
}
.icon-monkey-support:before {
  content: "\e902";
}
.icon-monkey-right:before {
  content: "\e903";
}
.icon-monkey-right-1:before {
  content: "\e904";
}
.icon-monkey-right-2:before {
  content: "\e905";
}
.icon-monkey-right-3:before {
  content: "\e906";
}
.icon-monkey-outstanding-facilities-1:before {
  content: "\e907";
}
.icon-monkey-outstanding-facilities-2:before {
  content: "\e908";
}
.icon-monkey-outstanding-facilities-3:before {
  content: "\e909";
}
.icon-monkey-comment-1:before {
  content: "\e90b";
}
.icon-monkey-button-registration:before {
  content: "\e90c";
}
.icon-monkey-manual-details-1:before {
  content: "\e90d";
}
.icon-monkey-manual-details-2:before {
  content: "\e90e";
}
.icon-monkey-manual-details-3:before {
  content: "\e90f";
}
.icon-monkey-manual-details-4:before {
  content: "\e910";
}
.icon-monkey-manual-details-5:before {
  content: "\e911";
}
.icon-monkey-dropdown:before {
  content: "\e912";
}
.icon-monkey-content:before {
  content: "\e913";
}
.icon-monkey-email:before {
  content: "\e914";
}
.icon-monkey-name:before {
  content: "\e915";
}
.icon-monkey-phone:before {
  content: "\e916";
}
.icon-monkey-face:before {
  content: "\e918";
}
.icon-monkey-share:before {
  content: "\e919";
}
.icon-monkey-youtube:before {
  content: "\e91a";
}
.icon-monkey-search:before {
  content: "\e917";
}
.icon-monkey-close:before {
  content: "\e91b";
}
.icon-monkey-download:before {
  content: "\e91c";
}
.icon-monkey-download-course-ware:before {
  content: "\e91d";
}
.icon-monkey-hashtag:before {
  content: "\e91e";
}
.icon-monkey-check:before {
  content: "\e91f";
}
.icon-monkey-awards:before {
  content: "\e920";
}
.icon-monkey-impressive-numbers:before {
  content: "\e921";
}
.icon-monkey-question:before {
  content: "\e922";
}
.icon-monkey-registration:before {
  content: "\e923";
}
.icon-monkey-representative-students:before {
  content: "\e924";
}
.icon-monkey-support-form:before {
  content: "\e925";
}
.icon-monkey-terms:before {
  content: "\e926";
}
.icon-monkey-reduction:before {
  content: "\e927";
  font-size: 2px;
}
.icon-monkey-add:before {
  content: "\e928";
  font-size: 9px;
}
.icon-monkey-back:before {
  content: "\e929";
}
.icon-monkey-shop-cart:before {
  content: "\e92a";
}
.icon-monkey-envelope:before {
  content: "\e92f";
}
.icon-monkey-course:before {
  content: "\e92c";
}
.icon-monkey-title-parents-need-to-know:before {
  content: "\e92d";
}
.icon-monkey-title-talk-about:before {
  content: "\e92e";
}
.icon-monkey-shop-cart-bottom:before {
  content: "\e92b";
}
.icon-monkey-talk-about:before {
  content: "\e930";
}
.icon-monkey-form-search-1:before {
  content: "\e931";
}
.icon-monkey-form-search-2:before {
  content: "\e932";
}

.icon-monkey-awards-bg:before {
  content: "\e933";
}
.icon-monkey-representative-students-bg:before {
  content: "\e934";
}
.icon-monkey-title-representative-students-3:before {
  content: "\e936";
}
.icon-monkey-title-document-2:before {
  content: "\e937";
}
.icon-monkey-thumbs-up-regular:before {
  content: "\e935";
}
.icon-monkey-title-manual:before {
  content: "\e939";
}
.icon-monkey-form-registration-4:before {
  content: "\e938";
}
.icon-monkey-representative-students-1:before {
  content: "\e93b";
}
.icon-monkey-language-c:before {
  content: "\e93a";
}
.icon-monkey-language-a:before {
  content: "\e93d";
}
.icon-monkey-group:before {
  content: "\e93e";
}
.icon-monkey-reading-book:before {
  content: "\e93f";
}
.icon-monkey-benefit-a:before {
  content: "\e940";
}
.icon-monkey-language-b:before {
  content: "\e93c";
}
.icon-monkey-box-content-g:before {
  content: "\e948";
}
.icon-monkey-box-content-h:before {
  content: "\e949";
}
.icon-monkey-box-content-i:before {
  content: "\e94a";
}
.icon-monkey-box-content-d:before {
  content: "\e941";
}
.icon-monkey-box-content-e:before {
  content: "\e942";
}
.icon-monkey-box-content-f:before {
  content: "\e943";
}
.icon-monkey-box-content-a:before {
  content: "\e944";
}
.icon-monkey-box-content-b:before {
  content: "\e945";
}
.icon-monkey-box-content-c:before {
  content: "\e946";
}
.icon-monkey-title-content:before {
  content: "\e947";
}
.icon-monkey-group:before {
  content: "\e93e";
}
.icon-monkey-reading-book:before {
  content: "\e93f";
}
.icon-monkey-box-content-k:before {
  content: "\e94b";
}
.icon-monkey-box-content-l:before {
  content: "\e94c";
}
.icon-monkey-box-content-m:before {
  content: "\e94d";
}
